@model IEnumerable<SurveyApp.Models.Survey>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">All Surveys</h1>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Duty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Duty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SurveyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SurveyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SurveyId })
        </td>
    </tr>
}

</table>
