@{
    ViewBag.Title = "Initial Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="initialSurvey" ng-controller="initialSurveyCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Survey Details
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#detailModal">New Survey Detail</button>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Modal -->
                <div id="detailModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">New Survey Detail</h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>Type</label>
                                            <select class="form-control" ng-model="surveyDetail.Type" ng-options="s.Id as s.Name for s in serveyTypes"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Prompt</label>
                                            <textarea class="form-control" ng-model="surveyDetail.Prompt" rows="3"></textarea>
                                        </div>
                                        <div ng-show="surveyDetail.Type == 2">
                                            <div class="form-group">
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <button class="btn btn-primary btn-sm" ng-click="addDetailItem()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only"></label>
                                                        <input type="text" class="form-control" ng-model="detailItem">
                                                    </div>

                                                </form>
                                            </div>
                                            <div class="form-group" ng-repeat="i in surveyDetail.items">
                                                <form class="form-inline">
                                                    <button type="submit" class="btn btn-danger btn-sm" ng-click="removeDetailItem($index,i)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only"></label>
                                                        {{i}}
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div ng-show="surveyDetail.Type == 1">
                                            <div class="form-group">
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <button class="btn btn-primary btn-sm" ng-click="addDetailItem()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio">
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only"></label>
                                                        <input type="text" class="form-control" ng-model="detailItem">
                                                    </div>

                                                </form>
                                            </div>
                                            <div class="form-group" ng-repeat="i in surveyDetail.items">
                                                <form class="form-inline">
                                                    <button type="submit" class="btn btn-danger btn-sm" ng-click="removeDetailItem($index,i)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio">
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only"></label>
                                                        {{i}}
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-sm" ng-click="addSurveyDetails()">Add Survey Detail</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.panel -->
                <div id="sortable">
                    <div class="panel panel-default" ng-repeat="d in surveyDetails" id="{{$index}}">
                        <div class="panel-body">

                            <div class="col-md-2"><b>Prompt({{d.SortingIndex}})</b></div>
                            <div class="col-md-9">{{d.Prompt}}</div>
                            <div class="col-md-1">
                                <button class="btn btn-danger" ng-hide="d.delete == 'SURE'" ng-click="d.delete = 'SURE'"><span class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-danger" ng-show="d.delete == 'SURE'" ng-click="removeSurveyDetail($index)">Sure</button>
                            </div>
                            <hr />
                            <div ng-if="d.Type == 1 || d.Type ==2">
                                <div class="col-md-2"><b>Answers</b></div>
                                <div class="col-md-10">
                                    <div class="{{d.Type == 1? 'radio':'checkbox'}}" ng-repeat="di in d.DelimitedItemList.split(';;')">
                                        <label>
                                            <input name="radio" type="{{d.Type == 1? 'radio':'checkbox'}}">
                                            {{di}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('initialSurveyApp', []);
    app.controller('initialSurveyCtrl', ['$scope', '$http', function ($scope, $http) {

        $scope.groups = [];
        $scope.surveys = [];
        $scope.surveyDetail = { items: [] };
        $scope.detailItem = "";
        $scope.surveyDetails = [];
        $scope.data = {};
        $scope.selectedSurvey = "none";
        $scope.serveyTypes = [];

        $("#sortable").sortable({
            axis: "y",
            opacity: 0.7,
            update: function (event, ui) {
                debugger;
                var sortOrder = $("#sortable").sortable("toArray");
                sortOrder.forEach(function (ele, index) {
                    $scope.surveyDetails[parseInt(ele)].SortingIndex = index;
                });
                $http.post('@Url.Action("OrderIndexUpdate")', { surveys: $scope.surveyDetails }).then(function (res) {
                    successAlert("Ordered Items...");
                }, httpError);
            }
        });
        $("#sortable").disableSelection();

        $http.get('@Url.Action("GetServeyTypes")').then(function (res) {
            debugger;
            $scope.serveyTypes = res.data;
        }, httpError);

        $http.post('@Url.Action("GetSurveyDetails")').then(function (res) {
            $scope.surveyDetails = res.data;
        }, httpError);
        $scope.addSurveyDetails = function () {

            var obj = {
                SurveyId: 1,
                Prompt: $scope.surveyDetail.Prompt,
                DelimitedItemList: $scope.surveyDetail.Type != 0 ? $scope.surveyDetail.items.join(";;") : "",
                Type: $scope.surveyDetail.Type
            };
            debugger;
            $http.post('@Url.Action("AddSurveyDetail")', { detail: obj, id:1 }).then(function (res) {
                $scope.surveyDetails = res.data;
            }, httpError);
        };
        $scope.addDetailItem = function () {
            debugger;
            if (!!$scope.detailItem && $scope.surveyDetail.items.filter(function (e) { return e == $scope.detailItem; }).length == 0) {
                $scope.surveyDetail.items.push($scope.detailItem);
            }
        };
        $scope.removeDetailItem = function (index, item) {
            $scope.surveyDetail.items.splice(index, 1);
        };
        $scope.removeSurveyDetail = function (index) {
            $http.post('@Url.Action("RemoveSurveyDetail")', { detail: $scope.surveyDetails[index] }).then(function (res) {
                console.log(res.data);
                $scope.surveyDetails.splice(index, 1);
                successAlert("Survey Detail removed");
            }, httpError);
        };

    }]);
    angular.bootstrap($('#initialSurvey'), ['initialSurveyApp']);
</script>
