@model SurveyApp.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("TakeInitialSurvey", "Surveys", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Initial Survey</h4>
    <hr />
    <div class="form-group">
        <label class="control-label">What is your name/ organisation name?</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.OrgName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">What is your email address?</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">What is your Phone number?</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Select the password </label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Repeat the password</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit the survey" />
        </div>
    </div>
    <p>*This survey will register as a client with email address as your username</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
